.menu-primary-container .menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
  list-style: none;
  gap: 32px;
  margin: 0;
  padding: 0;
  max-width: 342px;
}

.menu-primary-container a {
  color: $white;
  padding: 0;
  text-decoration: none;
  font-size: 20px;
  font-weight: 400;
}

.menu-primary-container a:hover {
  color: $copper;
  transition: all 0.2s;
}

.menu-primary-container a:active {
  opacity: 0.6;
}

.menu-primary-container .menu-item-has-children {
  position: relative;
  padding-right: 17px;
}

.menu-primary-container .menu-item-has-children::before {
  position: absolute;
  content: "";
  top: 58%;
  right: 0;
  transform: translate(0, -50%);
  border: 5px solid transparent;
  border-top: 5px solid $white;
  box-sizing: border-box;
}

.menu-primary-container .sub-menu {
  margin: 0;
  padding: 34px 24px;
  display: flex;
  position: absolute;
  top: 100px;
  left: -24px;
  box-sizing: border-box;
  background-color: $floral;
  z-index: 2;
  transition: all 0.4s cubic-bezier(0.75, -0.02, 0.2, 0.97);
  list-style-type: none;
  flex-direction: column;
  gap: 22px;
  min-height: 136px;
  min-width: 346px;
  opacity: 0;
  visibility: hidden;
}

.menu-primary-container .menu-item-has-children:hover .sub-menu {
  opacity: 1;
  visibility: visible;
  top: 30px;
}

.menu-primary-container .menu-item-has-children:focus-within .sub-menu {
  opacity: 1;
  visibility: visible;
  top: 30px;
}

.menu-primary-container .sub-menu a {
  color: $black;
  font-size: 20px;
  font-weight: 400;
}

.menu-primary-container .sub-menu a:hover {
  color: $copper;
}

.menu-primary-container .sub-menu a:active {
  opacity: 0.6;
}
