.order {
  background-color: $black;
  background-image: url("../img/general/background/header-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 120px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/general/background/header-background@2x.jpg");
  }
}
