.page-header {
  background-color: $black;
  background-image: url("../img/general/background/header-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 120px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/general/background/header-background@2x.jpg");
  }
}

.page-header__top {
  padding: 20px 164px 38px 32px;
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  justify-content: space-between;
  margin: 0 auto;
  width: 1440px;
  box-sizing: border-box;
}

.page-header__logo {
  margin-right: 76px;
}

.page-header__navigation {
  margin-top: 8px;
}

.page-header__phone-link {
  color: $white;
  padding-top: 2px;
  text-decoration: none;
  font-size: 24px;
  font-weight: 700;
}

.page-header__phone-link:hover {
  color: $copper;
  transition: all 0.2s;
}

.page-header__phone-link:active {
  opacity: 0.6;
}

.page-header__preview {
  color: $white;
}

.page-header__preview h1 {
  text-align: center;
  font-family: $title-font;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 72px;
  max-width: 778px;
  margin: 0 auto 24px;
}

.page-header__preview p {
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  max-width: 748px;
  margin: 0 auto 52px;
}

.page-header__preview img {
  margin-bottom: 120px;
}

.page-header__preview .page-header__description {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  text-align: start;
  width: 728px;
  margin: 0 auto;
}
