.page-main {
  background-color: $floral;
  padding-top: 120px;
}

.page-main__gallery {
  margin: 0 0 120px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  list-style-type: none;
}

.page-main__about-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.page-main__about {
  margin: 0;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}
