.page-header {
  background-color: $black;
  background-image: url("../img/header/background/header-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/header/background/header-background@2x.jpg");
  }
}

.page-header__top {
  padding: 20px 164px 16px 32px;
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  justify-content: space-between;
  margin: 0 auto;
  width: 1440px;
  box-sizing: border-box;
}

.page-header__logo {
  margin-right: 76px;
}

.page-header__navigation {
  margin-top: 8px;
}

.page-header__phone-link {
  color: $white;
  padding-top: 2px;
  text-decoration: none;
  font-size: 24px;
  font-weight: 700;
}

.page-header__phone-link:hover {
  color: $copper;
  transition: all 0.2s;
}

.page-header__phone-link:active {
  opacity: 0.6;
}
