@import "general/variables.scss";
@import "general/visually-hidden.scss";
@import "general/fonts.scss";
@import "general/container.scss";
@import "blocks/page-header.scss";
@import "blocks/menu.scss";
@import "blocks/page-main.scss";
@import "blocks/about.scss";
@import "blocks/wp-block-separator.scss";
@import "blocks/order.scss";
@import "blocks/reviews.scss";
@import "blocks/page-footer.scss";

